<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搜索引擎</title>
</head>
<body style="background-image: url(../static/img/bg.jpg);background-size: 1920px 960px;background-repeat: repeat" marginwidth="750px" marginheight="300px">
<form action="/s" method="get">
    <input type="text" name = "wd" style="width:400px;height: 30px">
    <input type="submit" value=" Search " style="position: absolute;left: 1160px;top:299px;height: 35px;background-image: url(../static/img/timg.jpg)">
</form>
<img src="../static/img/logo.jpeg"" style="height: 100px;position: absolute;top: 100px;"></body>
</html>