<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url(../static/img/bg.jpg);background-size: 1920px 960px;background-repeat: initial" marginwidth="750px" marginheight="300px">
<img src="../static/img/logo.jpeg" style="height: 100px;position: absolute;top: 100px;">
<div style="background-color: azure;width: 500px" >
    <table>
        <thead><tr><th>搜索结果</th></tr></thead>
        <tbody>
            {% for title in titles %}
            <tr><th><a href="{{title[0]}}">{{title[1]}}</a></th></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>